body {
    /* margin: 0;
    */
    font-family: 'Lato';
    text-align: center;
}

h1 {
    text-align: left;
    text-indent: 30px;
}

p {
    color: navy;
    text-align: left;
}

#line-container {
    width: 200px;
    height: 40px;
    margin: 50px auto;
}

#circle-container {
    margin: 20px auto;
    width: 200px;
    height: 200px;
}

#svg-container {
    margin: 20px auto;
    width: 200px;
    height: 200px;
}